@inherits LayoutComponentBase
<RadzenStack class="login-content">
    <RadzenCard class="rz-my-12 rz-mx-auto rz-p-4 rz-p-md-12" style="max-width: 600px;">
        <div class="login-container">
            <div class="logo-container mb-3">
                <img src="/images/hmb/pdfLogo.png" />
                <p style="text-align:right">ver 2.0</p>
            </div>
            <div class="login-panel">
                @Body
            </div>
        </div>
    </RadzenCard>
</RadzenStack>


@code {

}
