<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ReportApplication.Properties.Settings.NetCore_DbHelmConnectionString"
      connectionString="Data Source=92.204.135.107;Initial Catalog=NetCore_DbHelm;User ID=sa;Password=kumarknows@37082;Encrypt=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>