@using WebApp.Client.Pages.PMV.Assets.Models;
@using WebApp.Client.Pages.PMV.Assets.ViewModels;

@inherits ComponentViewModelBase<AssetReadViewModel>
@inject IConfiguration Configuration

<RadzenDataGrid TItem="AssetDocumentModel" Data="Model.Asset.Documents">
    <Columns>
        <RadzenDataGridColumn TItem="AssetDocumentModel" Title="SNo" TextAlign="TextAlign.Center" Width="40px">
            <Template Context="document">
                <span>@(Model.Asset.Documents.ToList().IndexOf(document) + 1)</span>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="AssetDocumentModel" Property="Title" Title="Title" />
        <RadzenDataGridColumn TItem="AssetDocumentModel" Property="Description" Title="Description" />
        <RadzenDataGridColumn TItem="AssetDocumentModel" Property="DocumentReferenceNo" Title="Reference No" />
        <RadzenDataGridColumn TItem="AssetDocumentModel" Property="DocumentType" Title="Document Type" />
        <RadzenDataGridColumn TItem="AssetDocumentModel" Property="Attachment" Title="Attachment" TextAlign="TextAlign.Center" Width="8%">
            <Template Context="document">
                @if (!document.IsContentEmpty())
                {
                    <NavLink href="@($"{Configuration.GetValue<string>("Report:DownloadUrl")}/asset/document?documentId={document.Id}")" target="_blank">
                        <RadzenIcon Icon="attachment" />
                    </NavLink>
                }
            </Template>
                       
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {

}
