@page "/accounts/logoff"
@using Portal.WebClient.Pages.Accounts.ViewModels;


@inject LoginViewModel Auth;
@inject PageNavigation PageNavigation;

<h1>Logoff</h1>

@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }


    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthState;

        if(authState.User.Identity!.IsAuthenticated)
        {
            await Auth.Logout();
            PageNavigation.NavigateTo("/");
        }
    }
}
